<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>AnyTable</title>
		<!-- CDN LINKS -->
		<script src=”//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js”></script>
		<link rel=”stylesheet” href=”http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css”>
		<script src=”//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js”></script>

		<script src="website.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<nav class="navbar navbar-inverse" role="navigation" style="padding-left: 130px;">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li class="active"><a href="/games">Games<span class="sr-only">(current)</span></a></li>
							<li><a href="/about">About</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<br />
		<div class="jumbotron">
			<p>Content here</p>
		<div>
	</body>
</html>

